@font-face{
  font-family: "Inter";
  font-weight: 400;
  font-display: fallback;
  letter-spacing: -5px;
  font-style: normal;
  src: url("../../assets/fonts/Inter-Regular.ttf"), format("truetype");
}


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

main {
  max-width: fit-content;
  margin: 5rem;
  margin-left: 1rem;
  padding: 1rem;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

p {
  margin: 0;
}

.text-wrapper > * + * {
  margin-top: 1rem;
}

.about {
  margin-top: 2rem;
}